.order-badge {
  color: rgb(255, 255, 255);
  font-weight: 500;
  padding: 5px;
  border-radius: 5px;
}

.status-delivered {
  background-color: #689f38;
}

.status-scheduled {
  background-color: rgba(255, 167, 5, 0.979);
}

.status-processing {
  background-color: #e9db18;
}

/* .status- {
  background-color: #d32f2f;
} */

/* .status- {
  background-color: #9c27b0;
} */

.modal-dialog {
  max-width: 700px !important;
}

.btn {
  margin: 2px;
  padding: 3px 6px !important;
}
